@model TestNetCore.Models.User.ProfiloModel

@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Benvenuto @Model.Utente.LastName @Model.Utente.FirstName</h2>
